@media screen and (max-width: 585px){
    .header {
        padding: 36px 18px 36px 15px;
    }
    .header__container {
        justify-content: space-between;
    }
    .header__nav {
        margin-left: 0;
    }
    /*---------------------------styles for main section---------------------------*/
    .main {
        padding: 50px 19px 43px 19px;
    }
    .main__container {
        gap: 38px;
    }
    .main__info {
        text-align: center;
    }
    .main__title {
        font-size: 32px;
        margin-bottom: 40px;
    }
    .main__text {
        font-size: 16px;
        max-width: none;
        margin-bottom: 40px;
    }
    .button {
        font-size: 16px;
    }
    .main__image {
        margin-left: 0;
        top: 0;
        padding: 0 42px;
    }
    /*---------------------------styles for advantages section---------------------------*/
    .advantages {
        padding: 100px 15px;
    }
    .advantages__title {
        font-size: 30px;
    }
    .advantages__text {
        font-size: 16px;
    }
    .advantages__items {
        grid-template-columns: repeat(2, 162px);
        gap: 16px;
    }
    .advantage__item:nth-child(-n+2) {
        margin-bottom: 20px;
    }
    .adv-item__title {
        font-size: 18px;
    }
    .adv-item__text {
        font-size: 13px;
    }
    /*---------------------------styles for assortment section---------------------------*/
    .assortment {
        padding: 100px 17px 100px 20px;
    }
    .assortment__title {
        font-size: 30px;
    }
    .assortment__items {
        grid-template-columns: repeat(1, max-content);
    }
    .assortment__item.item3 {
        margin-bottom: 107px;
    }
    /*---------------------------styles for order section---------------------------*/
    .order__container {
        align-items: start;
        justify-content: start;
    }
    .order__form-title {
        font-size: 30px;
    }
    .order__form-text {
        font-size: 16px;
    }
    .order__images-strawberry {
        top: 107px;
        left: -200px;
    }
    .order__images-macaroons {
        display: none;
    }
    /*---------------------------styles for animation---------------------------*/
    @keyframes moving {
        from {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10%);
        }
        to {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 585px){
    /*---------------------------styles for footer---------------------------*/
    .footer__container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .footer__logo {
        margin-bottom: 0;
        order: 1;
    }
    .footer__phone {
        order: 2;
    }
    .footer__instagram {
        order: 3;
    }
    .footer__instagram-text {
        order: 4;
    }
    .footer__rights {
        display: none;
    }
    .footer__container::after {
        content: 'Все права защищены, 2020';
        order: 5;
        display: block;
        font-size: 12px;
        font-family: Gilroy, sans-serif;
        color: rgb(227, 172, 180);
    }
}

@media screen and (max-width: 485px){
    .header__nav {
        display: none;
    }
    .header__nav {
        position: fixed;
        width: 100%;
        height: 70%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(227, 172, 180, 0.75);
        z-index: 99;
    }
    .header__menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /*margin-top: 40px;*/
        margin: 0 auto;
    }
    .header__menu-item {
        font-size: 24px;
    }
    .header__nav.open {
        display: flex;
        align-items: center;
    }
    .header__nav .exit {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(118, 12, 34);
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .header__burger {
        display: block;
    }
    .order__images-strawberry {
        top: 120px;
        left: -85px;
    }
    .order__form-input {
        max-width: 100%;
    }
    .order__button {
        width: 100%;
    }
    .present {
        right: 10px;
        bottom: 10px;
        width: 71px;
        height: 71px;
    }
    .present__round img {
        max-width: 75px;
    }
    .present__box img {
        max-width: 45px;
    }
    .present__text {
        right: 170px;
        bottom: 36px;
    }
    .main__round {
        width: 160px;
        height: 160px;
    }
    @keyframes rounding {
        from {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        to {
            transform: translate(-50%, -50%) scale(2.2);
            opacity: 0;
        }
    }
}

@media screen and (max-width: 370px){
    .advantages__items {
        grid-template-columns: repeat(2, 110px);
        gap: 26px;
    }
    .advantages__img {
        max-width: 100%;
    }
    .main__round {
        width: 120px;
        height: 120px;
    }
    .main__round.first {
        animation: rounding 1.5s linear infinite;
        animation-delay: 0s;
    }
    .main__round.second {
        animation: rounding 1.3s linear infinite;
        animation-delay: 0.2s;
    }
}