<section class="order about">
  <div class="container">
    <div class="order-text about-text">
      <h2 class="double-title"><span>Лучшая</span> итальянская пиццерия!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam consectetur corporis, cumque deleniti
        dignissimos excepturi facilis ipsum iste labore neque perspiciatis praesentium, reiciendis sapiente sequi sit
        tenetur ut voluptate?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam consectetur corporis, cumque deleniti
        dignissimos excepturi facilis ipsum iste labore neque perspiciatis praesentium, reiciendis sapiente sequi sit
        tenetur ut voluptate?</p>
    </div>
    <div class="about-image wow animate__backInRight">
      <img src="assets/images/pizza_big.png" alt="big pizza">
      <img src="assets/images/pizza_big.png" alt="big pizza">
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
