.idea/
mod_6_Assignment Project/
#данный проект размещен в отдельном репозитории
mod_8_GIT/
mod_8_GIT_clone/
#данные разделы размещены в отдельных репозиториях
project_Quiz/
#данный проект размещен в отдельном репозитории
project_Backend/
#данный проект размещен в отдельном репозитории
project_GameSnake/
#данный проект размещен в отдельном репозитории
project_FreelanceStudio/
#данный проект размещен в отдельном репозитории
project_MyFinance/
#данный проект размещен в отдельном репозитории
project_MyFinanceTS/
#данный проект размещен в отдельном репозитории
angular-quiz/
#данный проект размещен в отдельном репозитории
online-shop/
#данный проект размещен в отдельном репозитории