.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item > * {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.product-info p {
  font-size: 14px;
  color: rgb(24, 26, 26);
  line-height: 1.286;
  height: 49px;
  margin: 14px 0 15px 0;
}
