<section class="products mb-5">
  <div class="container">
    <h2 class="h2 text-center mb-3">{{ product.title }}</h2>
    <div class="">
      <div class="card m-auto text-start" style="max-width: 40rem;">
        <img src="{{product.image}}" class="card-img-top" alt="tea">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <h6 class="card-title text-end">{{ product.price }} €</h6>
          <div class="card-action">
            <a [routerLink]="'/catalog'" class="btn btn-primary px-5 hvr-pulse-grow">В каталог</a>
            <a class="btn btn-info px-5 hvr-pulse-grow" (click)="addProductToOrder(product.title)">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
