.container {
    display: flex;
    align-items: center;
}


button {
    background: green;
    padding: 10px 40px;
    color: white;
    border: none;
    /*transition-property: all;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: linear;*/
    /*transition-delay: 300ms;*/
    /*transform: translate(20px, 20px);*/

    transition: all 1s ease 300ms;
}

button:hover {
    /*transform: translate(20px, 20px);*/
    /*transform: scale(2);*/
    /*transform: rotate(25grad);*/
    /*transform: skew(25grad);*/
    background-color: orange;
    padding: 5px 35px;
}

.block {
    background: grey;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.circle {
    background-color: #ffaf18;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px;
    /*animation-name: circle-anim;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: linear;*/
    /*animation-delay: 400ms;*/
    /*animation-fill-mode: both;*/
    /*animation-direction: reverse;*/
    /*animation-iteration-count: infinite;*/
    /*animation: circle-anim 1s linear infinite;*/
}

.circle:hover {
    animation-play-state: paused;
}

@keyframes circle-anim {
    from {
        transform: scale(0.5);
    }
    50% {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

