/*---------------------------styles for main section---------------------------*/
.main {
  padding: 120px 20px 108px 20px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__info {
  padding-top: 12px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  max-width: 580px;
}

.main__title {
  font-size: 55px;
  line-height: 1.091;
  margin-bottom: 60px;
}

.main__text {
  font-size: 18px;
  line-height: 1.389;
  max-width: 345px;
  margin-bottom: 80px;
}

/*---------------------------styles for advantages section---------------------------*/
.advantages {
  padding: 119px 50px 123px 50px;
  background-color: #ffefef;
}

.advantages__content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки одинаковой ширины */
  grid-template-rows: auto auto; /* Две строки */
  gap: 80px; /* Промежуток между блоками (опционально) */
}

.advantages__info {
  grid-column: 1; /* Первая колонка */
  grid-row: 1; /* Первая строка */
  display: grid;
  grid-template-rows: auto;
  gap: 60px;
}

.advantages__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  max-width: 475px;
}

.advantages__text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  font-weight: 500;
  line-height: 1.556;
  max-width: 405px;
}

.advantages__image {
  grid-column: 2; /* Вторая колонка */
  grid-row: 1; /* Первая строка */
  align-content: end;
  text-align: end;
}

.advantages__items {
  grid-column: 1 / span 2; /* Занимает обе колонки */
  grid-row: 2; /* Вторая строка */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 81px;
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

/*---------------------------styles for assortment section---------------------------*/
.assortment {
  padding: 120px 0;
}

.assortment__title {
  text-align: center;
  margin-bottom: 147px;
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
}

.assortment__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
}

/*---------------------------styles for order section---------------------------*/
.order {
  padding: 98px 19px 120px 18px;
  background-color: #ffefef;
}

.order__container {
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.order__images {
  position: relative;
}

.order__images-strawberry {
  position: absolute;
  top: -26px;
  left: -27px;
}

.order__form {
  max-width: 406px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.order__form-title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 41px;
}

.order__form-text {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 48px;
}

.order__form-info {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(18, 10, 6);
  font-weight: bold;
  margin-bottom: 20px;
}

.order__form-input {
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(118, 12, 34);
  background-color: transparent;
  font-weight: bold;
  border-width: 1px;
  border-color: rgb(130, 19, 40);
  border-style: solid;
  border-radius: 30px;
  padding: 20px 25px;
  max-width: 294px;
  /*height: 59px;*/
}

.order__form-choice {
  margin-bottom: 40px;
}

.order__form-name, .order__form-phone {
  margin-bottom: 15px;
}

.order__button {
  padding: 20px 20px;
  width: 293px;
}

.order__image-strawberry {
  position: absolute;
  right: 0;
  bottom: 80px;
}

/*---------------------------styles for present section---------------------------*/
.present {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  z-index: 10;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.present:hover {
  box-shadow: 0 0 13px 3px rgba(130, 19, 40, 0.5);
}

.present__box, .present__round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.present__box img {
  width: 100%;
  height: auto;
}

.present__text {
  position: absolute;
  right: 149px;
  bottom: 45px;
  transform: translateY(110px); /* Изначально скрываем блок (сдвинут вниз) */
  opacity: 0; /* Изначально блок невидим */
  transition: all .5s ease-in-out;

}

.present:hover .present__text {
  transform: translateY(0); /* Возвращаем блок на место при наведении */
  opacity: 1; /* Делаем блок видимым */
}

.present__field {
  border-width: 2px;
  border-color: rgb(119, 10, 29);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  width: 90px;
  height: 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  align-content: center;
}

.present__field:before {
  content: "";
  position: absolute;
  left: 100%;
  top: calc(50% - 11px);
  border-top: 10px solid transparent;
  border-right: 11px solid rgb(119, 10, 29);
  border-bottom: 10px solid transparent;
  rotate: 200grad;
}

.present__field:after {
  content: "";
  position: absolute;
  left: calc(100% - 3px);
  top: calc(50% - 11px);
  border-top: 10px solid transparent;
  border-right: 11px solid rgb(254, 239, 238);
  border-bottom: 10px solid transparent;
  rotate: 200grad;
}

.present__message {
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  //min-width: 150px;
  margin-left: 0;
  text-align: center;
}

.present__info {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(254, 239, 238);
  border: 2px solid rgb(130, 19, 40);
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(119, 10, 29);
  z-index: 11;
  text-align: center;
  align-content: center;
}

/*---------------------------styles for animation---------------------------*/
.order__images-strawberry {
  animation: moving 2.5s linear infinite;
}

.order__image-strawberry {
  animation: moving 2s linear infinite;
}

@keyframes moving {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}

.main__image {
  position: relative;
}

.main__img {
  position: relative;
  z-index: 1;
}

.main__round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgb(113, 8, 30);
  z-index: -1;

}

.main__round.first {
  animation: rounding 2s linear infinite;
  animation-delay: 0s; /* Первый круг стартует сразу */
}

.main__round.second {
  animation: rounding 1.7s linear infinite;
  animation-delay: 0.3s; /* Второй круг стартует через 1 секунду после первого */
}

@keyframes rounding {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(2.6);
    opacity: 0;
  }
}

@media screen and (max-width: 1148px) {
  .main__image {
    position: relative;
    margin-left: 27%;
    top: -90px;
  }
  .advantages__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .advantages__info {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 60px;
  }
  .advantages__text {
    max-width: 680px;
  }
  .advantages__image {
    text-align: center;
  }
  .advantages__img {
    max-width: 302px;
  }
  .advantages__items {
    grid-template-columns: repeat(2, 220px);
    gap: 54px;
    justify-content: center;
  }
  .assortment__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 29px;
    justify-content: center;
  }
  .assortment__item.item1, .assortment__item.item2 {
    margin-bottom: 107px;
  }
  .assortment__item {
    min-width: 263px;
  }
  .order__images {
    order: 2;
  }
  .order__images-strawberry {
    top: 60px;
    left: -60px;
  }
  .order__images-macaroons {
    max-width: 352px;
    position: relative;
    bottom: -100px;
  }
  .order__image-strawberry {
    right: -58%;
    bottom: 60%;
  }
  .order__form {
    order: 1;
  }

  .main__round {
    width: 230px;
    height: 230px;
  }
  .main__round.first {
    animation: rounding 2s linear infinite;
    animation-delay: 0s; /* Первый круг стартует сразу */
  }
  .main__round.second {
    animation: rounding 1.5s linear infinite;
    animation-delay: 0.5s; /* Второй круг стартует через 1 секунду после первого */
  }
  @keyframes rounding {
    from {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .main__img {
    max-width: 100%;
    height: auto;
  }
  .order__images-macaroons {
    max-width: 100%;
    height: auto;
  }
  .order__image-strawberry {
    right: -58%;
    bottom: 65%;
  }
}

@media screen and (max-width: 670px) {
  .main__title {
    font-size: 48px;
  }
  .order__image {
    display: none;
  }
  .main__round {
    width: 200px;
    height: 200px;
  }
  .main__round.first {
    animation: rounding 2s linear infinite;
    animation-delay: 0s; /* Первый круг стартует сразу */
  }
  .main__round.second {
    animation: rounding 1.5s linear infinite;
    animation-delay: 0.5s; /* Второй круг стартует через 1 секунду после первого */
  }
  @keyframes rounding {
    from {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 585px) {
  /*---------------------------styles for main section---------------------------*/
  .main {
    padding: 50px 19px 43px 19px;
  }
  .main__container {
    gap: 38px;
  }
  .main__info {
    text-align: center;
  }
  .main__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .main__text {
    font-size: 16px;
    max-width: none;
    margin-bottom: 40px;
  }
  .button {
    font-size: 16px;
  }
  .main__image {
    margin-left: 0;
    top: 0;
    padding: 0 42px;
  }
  /*---------------------------styles for advantages section---------------------------*/
  .advantages {
    padding: 100px 15px;
  }
  .advantages__title {
    font-size: 30px;
  }
  .advantages__text {
    font-size: 16px;
  }
  .advantages__items {
    grid-template-columns: repeat(2, 162px);
    gap: 16px;
  }
  /*---------------------------styles for assortment section---------------------------*/
  .assortment {
    padding: 100px 17px 100px 20px;
  }
  .assortment__title {
    font-size: 30px;
  }
  .assortment__items {
    grid-template-columns: repeat(1, max-content);
  }
  .assortment__item.item3 {
    margin-bottom: 107px;
  }
  /*---------------------------styles for order section---------------------------*/
  .order__container {
    align-items: start;
    justify-content: start;
  }
  .order__form-title {
    font-size: 30px;
  }
  .order__form-text {
    font-size: 16px;
  }
  .order__images-strawberry {
    top: 107px;
    left: -200px;
  }
  .order__images-macaroons {
    display: none;
  }
  /*---------------------------styles for animation---------------------------*/
  @keyframes moving {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10%);
    }
    to {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 485px) {
  .order__images-strawberry {
    top: 120px;
    left: -85px;
  }
  .order__form-input {
    max-width: 100%;
  }
  .order__button {
    width: 100%;
  }
  .present {
    right: 10px;
    bottom: 10px;
    width: 71px;
    height: 71px;
  }
  .present__round img {
    max-width: 75px;
  }
  .present__box img {
    max-width: 45px;
  }
  .present__text {
    right: 170px;
    bottom: 36px;
  }
  .main__round {
    width: 160px;
    height: 160px;
  }
  @keyframes rounding {
    from {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(2.2);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 370px) {
  .advantages__items {
    grid-template-columns: repeat(2, 110px);
    gap: 26px;
  }
  .advantages__img {
    max-width: 100%;
  }
  .main__round {
    width: 120px;
    height: 120px;
  }
  .main__round.first {
    animation: rounding 1.5s linear infinite;
    animation-delay: 0s;
  }
  .main__round.second {
    animation: rounding 1.3s linear infinite;
    animation-delay: 0.2s;
  }
}
