img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon {
    background-image: url("../images/arr_left.svg");
    /*background-image: url("../images/arr_black_left.svg");*/
}

.carousel-control-next-icon {
    background-image: url("../images/arr_right.svg");
    /*background-image: url("../images/arr_black_right.svg");*/
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    opacity: 1;
}

.slick-next {
    /*background-image: url("../images/arr_right.svg");*/
    background-image: url("../images/arr_black_right.svg");
    position: absolute;
    right: 15px;
    z-index: 1;
    width: 40px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
}

.slick-next:before {
    /*background-image: url("../images/arr_right.svg");*/
    background-image: url("../images/arr_black_right.svg");
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
}

.slick-prev {
    background-image: url("../images/arr_black_left.svg");
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 42px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
}

.slick-prev:before {
    background-image: url("../images/arr_black_left.svg");
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 42px;
    height: 40px;
    color: transparent;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .slick-next {
        right: 10px;
        background-size: 80%;
    }
    .slick-next:before {
        background-size: 80%;
    }
    .slick-prev {
        right: 10px;
        background-size: 80%;
    }
    .slick-prev:before {
        background-size: 80%;
    }
    .carousel-item__info {
        max-width: 300px !important;
    }
    .fs-1 {
        font-size: 1.5rem !important;
    }
    .fs-5 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 410px) {
    .slick-next, .slick-prev {
        background-size: 60%;
        right: 0;
    }
    .slick-next:before, .slick-prev:before {
        background-size: 60%;
    }
    .carousel-item__info {
        max-width: 200px !important;
        margin-left: 15% !important;
    }
    .carousel-item__info .btn {
        font-size: 0.8rem !important;
    }
    .fs-1 {
        font-size: 1.2rem !important;
    }
    .fs-5 {
        font-size: 0.8rem !important;
    }
}

/*.accordion-button:after {*/
/*    background-image: url("../images/arrow.svg");*/
/*}*/

/*.accordion-button:not(.collapsed):after {*/
/*    background-image: url("../images/arrow.svg");*/
/*}*/

.ui-icon {
    background-position: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 28px;
    top: 25px;
    background-image: url("../images/arrow.svg");
}

.ui-state-active .ui-icon {
    transform: rotate(180deg);
    background-image: url("../images/arrow.svg");
    transition: transform 0.5s ease;
}

@media screen and (max-width: 576px) {
    .ui-icon {
        top: 20px;
    }
}

@media screen and (max-width: 410px) {
    #accordion {
        font-size: 0.8rem;
    }
    .ui-icon {
        top: 16px;
        right: 10px;
        background-size: 70%;
    }
}

