<section class="slick mb-5">
  <div class="container">
    <div class="single-item position-relative">
      <div class="carousel-item__info position-absolute"
           style="margin-left: 12%; max-width: 530px;">
        <h2 class="fs-1 mb-1 mb-sm-3 mb-md-5">Попробуй нашу новинку — ягодный чай</h2>
      </div>
      <img src="./assets/images/ban-dif3.png" class="d-block w-100" alt="tea">
    </div>
  </div>
</section>

<section class="questions m-auto" style="max-width: 856px;">
  <div class="container">
    <h2 class="h2 text-center mb-5 wow animate__zoomIn">Ответы на часто задаваемые вопросы</h2>
    <div id="accordion">
      <h3 class="bg-primary text-white rounded py-sm-4 py-3 ps-3 ps-sm-4 mb-3 wow animate__slideInLeft">Собираете ли вы
        подарочные боксы?</h3>
      <div class="border border-0 mb-0 h-auto">
        <p class="mb-0" style="margin-top: -1rem;">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!
        </p>
      </div>
      <h3 class="bg-primary text-white rounded py-sm-4 py-3 ps-3 ps-sm-4 mb-3 wow animate__slideInRight">Сколько у вас
        разновидностей чая?</h3>
      <div class="border border-0 mb-0 h-auto">
        <p class="mb-0" style="margin-top: -1rem;">
          Вообще у нас один сорт, просто чай. Но для Вас мы можем упаковать в любой пакетик и добавить
          химозный ароматизатор!
        </p>
      </div>
      <h3 class="bg-primary text-white rounded py-sm-4 py-3 ps-3 ps-sm-4 mb-3 wow animate__slideInLeft">В какой срок
        осуществляется доставка?</h3>
      <div class="border border-0 mb-0 h-auto">
        <p class="mb-0" style="margin-top: -1rem;">
          Хех, срок примерно 1-3 года. Мы используем почтовых голубей, но они гадюки не всегда
          прилетают вовремя!
        </p>
      </div>
      <h3 class="bg-primary text-white rounded py-sm-4 py-3 ps-3 ps-sm-4 mb-3 wow animate__slideInRight">У вас
        обновляется ассортимент?</h3>
      <div class="border border-0 mb-0 h-auto">
        <p class="mb-0" style="margin-top: -1rem;">
          Да, конечно! Мы каждый год ходим в поле и собираем новую траву и также рисуем новые
          пакетики!
        </p>
      </div>
      <h3 class="bg-primary text-white rounded py-sm-4 py-3 ps-3 ps-sm-4 mb-3 wow animate__slideInLeft">Какого объема у
        вас пачки чая?</h3>
      <div class="border border-0 mb-0 h-auto">
        <p class="mb-0" style="margin-top: -1rem;">
          Обычно мы насыпаем в ладошки - все натуральное! Но по желанию от коробка до мешка 50 кг!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <h3 class="modal-body text-center">
        Посмотрите наши божественные чайные коллекции
      </h3>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="'/catalog'">
          Ну скорей посмотри
        </button>
      </div>
    </div>
  </div>
</div>
