.header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 14px 2px rgba(152, 152, 152, 0.2);
  padding: 16px 0 15px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {

}

.menu ul {
  display: flex;
  width: 489px;
  justify-content: space-between;
}

.menu-item a {
  font-size: 16px;
  color: rgb(164, 107, 0);
  line-height: 1;
}

.burger {
  display: none;
}

.exit {
  display: none;
}

@media screen and (max-width: 1023px) {
  .menu ul {
    width: 420px;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 390px;
  }
  .menu {
    order: 3;
    margin-top: 15px;
    flex-basis: 100%;
  }
  .menu ul {
    width: 380px;
  }
}

/*375 - 424*/
@media screen and (max-width: 424px) {
  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #000000c9;
    /*text-align: -webkit-center;*/
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*margin-top: 40px;*/
    margin: 0 auto;
  }
  .menu-item {
    margin: 15px 0;
  }
  .menu-item a {
    font-size: 30px;
  }
  .burger {
    display: block;
  }
  .burger svg {
    width: 36px;
    height: 36px;
    fill: rgb(185, 145, 80);
  }
  .menu.open {
    display: flex;
    align-items: center;
  }
  .menu .exit {
    display: block;
    width: 24px;
    height: 24px;
    fill: rgb(185, 145, 80);
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
