/*p {*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    line-height: 1.5;*/
/*    letter-spacing: 10px;*/
/*    font-style: italic;*/
/*    text-align: center;*/
/*    text-decoration: underline;*/
/*    color: rgba(138, 43, 226, 0.5);*/
/*    text-shadow: 4px 4px 12px #000000b3;;*/
/*}*/

/*div {*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background: linear-gradient(90deg, #000000, #d24b16);*/
/*}*/

h3 {
    background: yellow;
    padding-top: 10%;
    border: 2px solid black;
    border-right: 10px dashed black;
    border-bottom-color: red;
    /*border-radius: 10px 10px 10px 30px;*/
    margin: 10px auto;


    width: 200px;
    height: 200px;

}

div {
    background: yellow;
    max-width: 1300px;
    box-shadow: 10px 7px 20px 5px black;
}

p {
    width: 20%;
    min-width: 200px;
}